<%= form_tag(search_archives_path, :enctype =>"multipart/form-data") do %>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= search_field_tag 'serachterm', value="Enter your search term here..." ,size: 60 %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-primary">Search Archives</button>
    </div>
  </div>
<% end %>