  <div class="container">
  <p><strong>Guide to Ernie's Site</strong></p>
  <p><strong>Keywords</strong> - Any name or   other word that is on the caption line beneath the picture of a letter is   searchable.</p>
  <p><strong>By Date - </strong>Put in a   specific date to find a specific letter.</p>
  <p><strong>By Year - </strong>Put in a   specific year to bring up all of the letters from that year. </p>
  <p><strong>County - </strong>You can search   by county name to find cities we have letters from, or search by the city name   directly.  Some cities you will find under their counties:</p>
  <p>              Allegan County - Allegan City, Otsego, Saugatuck</p>
  <p>              Berrien County - Niles, St. Joseph, Bertrand, Berrien Springs</p>
  <p>              Branch County - Coldwater, California, Union City, Quincy</p>
  <p>              Calhoun County - Battle Creek, Marshall, Homer, Tekonsha</p>
  <p>              Cass County - Cassopolis, Edwardsburg, Dowagiac, Dover</p>
  <p>              Genesee County - Flint, Fenton, Grand Blanc</p>
  <p>              Hillsdale County - Jonesville, Pittsford, Somerset, Litchfield,   Hillsdale</p>
  <p>              Jackson County - Jackson, Norvell, Grass Lake, Leoni, Brooklyn,   Napoleon</p>
  <p>              Kalamazoo County - Kalamazoo, Galesburg, Schoolcraft</p>
  <p>              Kent County - Grand Rapids, Kent, Sparta</p>
  <p>              Lapeer County - Almont, Bristol, Farmers Creek, North Branch</p>
  <p>              Lenawee County - Adrian, Tecumseh, Blissfield, Clinton, Ogden</p>
  <p>              Livingston County - Pinckney, Brighton, Livingston, Hamburg,   Unadilla</p>
  <p>              Macomb County - Armada, Mount Clemens, New Haven, Utica</p>
  <p>              Monroe County - Monroe, Bay Settlement, Whiteford</p>
  <p>              Oakland County - Birmingham, Commerce, Farmington, Kensington, White   Lake</p>
  <p>              Ottawa County - Grand Haven</p>
  <p>              Saginaw County - Saginaw, Frankenmuth</p>
  <p>              Saint Clair County - Port Huron, Fort Gratiot, St. Clair</p>
  <p>              Saint Joseph County - Constantine, Centreville, Three Rivers, Sturgis, White   Pigeon</p>
  <p>              Shiawassee County - Owosso</p>
  <p>              Washtenaw County - Ann Arbor, Ypsilanti, Chelsea, Dexter, Manchester,   Lima</p>
  <p>              Wayne County - Detroit, Dearborn, Borodino, Nankin, Livonia, Northville,   Plymouth</p>
  <p><strong>Categories   -</strong> You can search   by the following categories:</p>
  <p><strong>19th Century Michigan Letters</strong> - Letters using stamps to pay postage from   April 1,1855, when pre-paid stamps became mandatory, until Dec.31,1900.</p>
  <p><strong>20th Century</strong>  - Letters written from Jan. 1, 1901 until Dec. 31,   2000.</p>
  <p><strong>Michigan Advertising</strong> - Letters that have advertising printed on them; many of the most attractive letters in a collection. Also included are what stamp collectors call corner cards -- letters with a decorative printed return address from a business or professional person.</p>
  <p><strong>American Home Missionary Society -</strong> The largest portion of these letters   were written by Michigan missionaries to the home office of the AHMS. Other religious denominations are also included in this category.</p>
  <p align="left"><strong>Black History - </strong>Letters from or about African-Americans.  This history extends into the modern age since it is still being written.  These letters and information are not meant to be offensive; they   must be taken in the context of the times in which they were written. It is my hope that these letters will be a help to African-Americans trying to find their   genealogical roots and heritage, and also help to promote better understanding and tolerance  between all   Americans.</p>
  <p><strong>Campbell Family Letters - </strong>Letters to or   from the Campbell family of Cobblestone Farm, now a museum, in Ann   Arbor.</p>
  <p> <strong>MI Covers -</strong>The front of letters, including the address and postal   information.</p>
  <p> <strong>Ernie's Ann Arbor Broken Ring - </strong>A series of letters from 1855 to 1863   bearing the Ann Arbor broken ring cancel.  These letters show the change of postage during the Civil War, when the Union changed to a different postage so that the South couldn't use the same postage.</p>
  <p>  <strong>Ernie's Michigan Collection - </strong>Letters that are now, or have been, in my personal collection.</p>
  <p> <strong>MI Fancy Cancels - </strong>These letters bear fancy cancels used in Michigan cities.</p>
  <p> <strong>Letters to Foreign Destinations - </strong>Letters sent from a Michigan city to another country that made their way back to Michigan and into a collection.</p>
  <p><strong>MI Free Franks - </strong>A mark indicating that no postage should be charged for   the letter. Postmasters and members of congress were allowed to send letters postage-free.</p>
  <p><strong>MI Genealogy - </strong>Letters to or from someone with a Michigan connection. I attempt to list as many as names as possible on the caption line so that you may search for a name using the <strong>Keyword</strong> line to find your target person.</p>
  <p><strong>German Language Letters -</strong> Letters written in German and sent to or from a Michigan city.  In the future I hope to make translations available.</p>
  <p><strong>Hampden-Ann Arbor Cancels - </strong>Letters canceled with the straight line machine cancel in the summer of 1888, and letters with the Humpback Hampden cancel from Sept. 16, 1888 until May   1889.</p>
  <p><strong>Machine Cancels - </strong>Letters that were canceled by a machine instead of by   hand.</p>
  <p><strong>Manuscripts - </strong>Letters where the postal information was written in longhand cursive instead of a Circular Datemarking Device (CDS -- Circular Date Stamp) being used.</p>
  <p><strong>Michigan Stampless Letters - </strong>Letters written between Jan. 27, 1837 and   the date when prepayment of postage became compulsory on April 1, 1855.</p>
  <p><strong>Michigan Territorial - </strong>Letters written between July 1, 1805 and Jan. 26,   1837.</p>
  <p><strong>Northern Michigan - </strong>I hope to add letters to this category soon.</p>
  <p><strong>Ohio Toledo Strip Letters - </strong>Letters sent during the time of the war between Ohio and Michigan over the land in the Toledo Strip.</p>
  <p><strong>MI Post Cards - </strong>Postal information written on postcards, some of which are colorful and present pictures of Michigan.</p>
  <p><strong>Railroads - </strong>Letters sent by railroad, or relating to the railroads in Michigan.</p>
  <p><strong>Michigan Waterways - </strong>Letters carried by ship, boat, or steamboat part of the way to their destination.</p>
  <p><strong>Wisconsin/ Michigan Territory - </strong>Letters sent from or to cities in what finally became parts of Wisconsin or Iowa, but were a part of the Michigan Territory until July 4,   1836.</p>
  <p><strong>Navigating the site - </strong>You can use as many of the categories as you choose to search for letters that meet all of your criteria.<strong>  </strong>You will need to keep your personal list to fewer than 300 complete letters for all of the navigation tools to work correctly. If your list is too large, try to narrow your search. For example, search only one year   at a time.</p>
  <p align="center">&nbsp;</p>
<p>&nbsp;</p>
</div>