<%
a = Archive.where("pdate LIKE '%/%'")
a.first.pdate = a.first.caption[0..9]

%>
<div class="container">
	<h2>About Ernie's Michigan Historical Archives</h2>
	<p>I have been a stamp collector since I was 10 years old. The husband of one of my mother's coworkers was a stamp collector. He gave me my first stamp album and a packet of stamps. I was hooked and have been a collector ever since.</p>

<p>When I moved to Michigan in 1972 I branched out to include the area of cover (letter) collecting. A cover is an envelope with or without the accompanying letter. In the case of stampless (folded) covers the address and postal information was written on a part of the letter after it was folded up, sealed, and ready to mail.</p>

<p>Each letter is unique in that it was written from a sender to a recipient, on a specific date and from a specific place. That letter was taken to the post office in a specific town on a certain day and year. The markings on the outside of the cover tell a complete story -- history in action.</p>

<p>Each of the letters in my collection have a story to tell, and I feel that I am the conservator of each letter while it is in my possession. After I am gone the next collector who owns that letter will be its conservator. The same may be said of the publicly held letters in special places like the Bentley Historical Library at the University of Michigan. These institutions are the conservators of letters and historical documents entrusted to them by the previous owners of those materials.</p>

<p>We are all saving history for future generations. I hope that the letters on my site, held by collectors and public institutions, will give the people who read and research them a deeper understanding of our predecessors. That knowledge and understanding can make the future a better place for us to all live in together. </p>
<%= a.first.pdate %>
</div>	