<div class="container">
	<h2>Ernie's Michigan Bookshelf</h2>
	
	<p><strong>'19TH CENTURY FANCY CANCELLATIONS EXHIBIT PHOTOCOPY'</strong> - BY JOE H.CROSBY//U.S. PHILATELIC CLASSICS SOCIETY</p>

<p><strong>'A COLLECTOR'S GUIDE TO U.S.MACHINE POSTMARKS 1871-1925' </strong>- BY RUSSELL F HANMER</p>

<p><strong>'A FIELD GUIDE TO MEDICINAL PLANTS' </strong>- BY ARNOLD AND CONNIE KROCHMAL</p>

<p><strong>'A GUIDE TO 19TH CENTURY U.S.POSTMARKS AND CANCELLATIONS' </strong>- BY KENNETH L. GILMAN</p>

<p><strong>'A HISTORY OF ANN ARBOR' </strong>- BY JONATHAN L. MARWIL</p>

<p><strong>'A MISHAWAKA MOSAIC' </strong>- BY DAVID EISEN</p>

<p><strong>'A PURSE OF HER OWN' </strong>- BY SUSAN L NENADIC</p>

<p><strong>'A SHORT HISTORY OF MICHIGAN'</strong> - BY JOHN KERN</p>

<p><strong>'ABBREVIATIONS AND ACRONYMS '</strong> - BY KIP SPERRY</p>

<p><strong>'AFRICAN AMERICANS IN MICHIGAN'</strong> - BY LEWIS WALKER, BENJAMIN C. WILSON, AND LINWOOD H. C</p>

<p><strong>'AFRICAN AMERICANS IN MICHIGAN' </strong>- BY LEWIS WALKER AND BENJAMIN C. WILSON AND LINWOOD H.</p>

<p><strong>'ALBUM WEEDS-- HOW TO DETECT FORGED STAMPS'</strong> - BY REVEREND R.B. EAREE</p>

<p><strong>'AMERICAN STAMPLESS COVER CATALOG 1971' </strong>- BY E.N.SAMPSON---VAN DAHL PUBLICATIONS,INC.</p>

<p><strong>'AMERICAN STAMPLESS COVER CATALOG VOL I, FIFTH EDITION 1997' </strong>- BY DAVID G. PHILLIPS</p>

<p><strong>'AMERICAN STAMPLESS COVER CATALOG VOL I, FOURTH EDITION 1985' </strong>- BY DAVID G. PHILLIPS</p>

<p><strong>'AMERICAN STAMPLESS COVER CATALOG VOL II, FOURTH EDITION 1987' </strong>- BY DAVID G. PHILLIPS</p>

<p><strong>'AMISH SOCIETY' </strong>- BY JOHN A HOSTETLER</p>

<p><strong>'ANN ARBOR ANNOTATED' </strong>- BY NINA C.R. HENRY AND ROBERT PASSEY</p>

<p><strong>'ANN ARBOR IN THE 19TH CENTURY'</strong> - BY GRACE SHACKMAN</p>

<p><strong>'ANN ARBOR YESTERDAYS' </strong>- BY LELA DUFF</p>

<p><strong>'ANN ARBOR'S FIRST LADY--EVENTS IN THE LIFE OF ANN I. ALLEN' </strong>- BY RUSSELL E. BIDLACK</p>

<p><strong>'ANN ARBOR-- THE FIRST HUNDRED YEARS' </strong>- BY O.W.STEPHENSON Ph.D.</p>

<p><strong>'ANN ARBOR; THE CHANGING SCENE'</strong> - BY ADAM CHRISTMAN</p>

<p><strong>'ANNS' AMAZING ARBOR-- OR THE GROWTH AND GROANS OF A GREAT UNIVERSITY TOWN' </strong>- BY ALGER BUELL CRANDELL</p>

<p><strong>'ANOTHER ANN ARBOR--BLACK AMERICA SERIES' </strong>- BY CAROL GIBSON AND LOLA M. JONES</p>

<p><strong>'BAKERS' U.S.CLASSICS' </strong>- BY HUGH J. AND J. DAVID BAKER</p>

<p><strong>'BLACK EDEN--THE IDEWILD COMMUNITY' </strong>- BY LEWIS WALKER AND BEN C. WILSON</p>

<p><strong>'CARE AND PRESERVATION OF PHILATELIC MATERIALS' </strong>- BY T.J.COLLINGS & R.F.SCHOOLEY-WEST</p>

<p><strong>'CHINESE SYSTEM OF FOOD CURES-- PREVENTION AND REMEDIES' </strong>- BY HENRY C LU</p>

<p><strong>'CLASSIC HAWAII 1819-1900// HONOLULU ADVERTISER COL. EXHIBIT PHOTOCOPY' </strong>- BY U.S. PHILATELIC CLASSICS SOCIETY</p>

<p><strong>'CLASSIC UNITED STATES IMPERFORATE STAMPS' </strong>- BY JON ROSE</p>

<p><strong>'COLLECTIONS-- THE BENTLEY HISTORICAL LIBRARY' </strong>- BY BENTLEY HISTORICAL LIBRARY AT THE UNIVERSITY OF MI</p>

<p><strong>'COUNTERFEIT KANSAS-NEBRASKA OVERPRINTS ON 1922-34 ISSUE'</strong> - BY JACK V. HARVEY</p>

<p><strong>'ESTABLISHMENT OF THE FIRST U.S. GOVERNMENT POST OFFICES IN THE NORTHWEST TERRITORY' </strong>- BY JERRY DEVOL AND RICHARD GRAHAM</p>

<p><strong>'ETHNICITY IN MICHIGAN'</strong> - BY JACK GLAZIER AND ARTHUR W. HELWEG</p>

<p><strong>'EVERYDAY LIFE IN EARLY AMERICA' </strong>- BY DAVID FREEMAN HAWKE</p>

<p><strong>'FANCY POSTAL MARKINGS ON UNITED STATES STAMPLESS COVERS EXHIBIT PHOTOCOPY' </strong>- BY JAMES MILGRAM//U.S.PHILATELIC CLASSICS SOCIETY</p>

<p><strong>'FLOATING PALACES OF THE GREAT LAKES--A HISTORY OF PASSENGER STEAMSHIPS ON THE INLAND SEAS' </strong>- BY JOEL STONE</p>

<p><strong>'FOCUS ON FORGERIES-- A GUIDE TO FORGERIES OF COMMON STAMPS' </strong> - BY VARRO E. TYLER</p>

<p><strong>'FOOD IS YOUR BEST MEDICINE'</strong> - BY HENRY G BIELER, M.D.</p>

<p><strong>'FRENCH CANADIANS IN MICHIGAN' </strong> - BY JOHN P. DULONG </p>

<p><strong>'FROM MIDNIGHT TO DAWN--THE LAST TRACKS OF THE UNDERGROUND RAILROAD' </strong> - BY JACQUELINE L. TOBIN AND HETTIE JONES </p>

<p><strong>'FUR, FORTUNE, AND EMPIRE-- THE EPIC HISTORY OF THE FUR TRADE IN AMERICA' </strong> - BY ERIC JAY DOLIN</p>

<p><strong>'GERMANS IN MICHIGAN'</strong> - BY JEREMY W. KILAR</p>

<p><strong>'GERONIMO-- WAR CHIEFS' </strong> - BY BILL DUGAN</p>

<p><strong>'HERBS OF CHOICE-- THE THERAPEUTIC USE OF PHYTOMEDICINALS' </strong> - BY VARRO E TYLER, PHD </p>

<p><strong>'HISTORIC BUILDINGS-- ANN ARBOR MICHIGAN' </strong> - BY THE ANN ARBOR HISTORIC DISTRICT COMMISSION</p>

<p><strong>'HISTORIC BUILDINGS-- ANN ARBOR MICHIGAN' </strong> - BY MARJORIE READE AND SUSAN WINEBERG</p>

<p><strong>'HISTORIC MICHIGAN TRAVEL GUIDE' </strong> - BY THE HISTORICAL SOCIETY OF MICHIGAN </p>

<p><strong>'HISTORIC WOMEN OF MICHIGAN--CHARISMATIC, COMPASSIONATE, COURAGEOUS'</strong> - BY ROSALIE RIEGLE TROESTER--EDITOR </p>

<p><strong>'HISTORY OF EARLIEST ANN ARBOR' </strong> - BY NETTIE IDELL SCHEPELER-VAN DER WERKER </p>

<p><strong>'HISTORY OF LETTER POST COMMUNICATION BETWEEN THE UNITED STATES AND EUROPE 1845-1875' </strong> - BY GEORGE E. HARGEST </p>

<p><strong>'HISTORY OF MACOMB COUNTY,MICHIGAN' </strong> - BY BROOKHAVEN PRESS </p>

<p><strong>'HISTORY OF THE BUREAU OF ENGRAVING AND PRINTING 1862-1962' </strong> - BY TREASURY DEPARTMENT </p>

<p><strong>'HOW TO DETECT DAMAGED,ALTERED,AND REPAIRED STAMPS' </strong> - BY PAUL W. SCHMID</p>

<p><strong>'INDIAN LIFE IN THE UPPER GREAT LAKES 11,000 B.C. TO A.D. 1800' </strong> - BY GEORGE IRVING QUIMBY</p>

<p><strong>'INDIANA POST OFFICES' </strong> - BY V.A. ROSS & ART HADLEY</p>

<p><strong>'INTRODUCTION TO UNITED STATES REVENUE STAMPS' </strong> - BY RICHARD FRIEDBERG </p>

<p><strong>'JOHN ALLEN AND THE FOUNDING OF ANN ARBOR' </strong> - BY RUSSELL E. BIDLACK </p>

<p><strong>'JOHN ALLEN: MICHIGAN'S PIONEER PROMOTER' </strong> - BY KIT LANE</p>

<p><strong>'JUDGE SAMUEL WILLIAM DEXTER' </strong> - BY NORMA MC ALLISTER </p>

<p><strong>'LA POSTA; THE JOURNAL OF AMERICAN POSTAL HISTORY' </strong> - BY LA POSTA PUBLICATIONS www.lapostapub.com </p>

<p><strong>'LETTERS OF THE CENTURY AMERICA 1900-1999' </strong> - BY LISA GRUNWALD AND STEPHEN J. ADLER </p>

<p><strong>'LINN'S STAMP NEWS' </strong> - BY AMOS MEDIA </p>

<p><strong>'LOST ANN ARBOR' </strong> - BY SUSAN CEE WINEBERG </p>

<p><strong>'MADE IN AMERICA--AN INFORMAL HISTORY OF THE ENGLISH LANGUAGE IN THE UNITED STATES' </strong> - BY BILL BRYSON </p>

<p><strong>'MANUAL OF THE FIRST PRESBYTERIAN CHURCH ANN ARBOR MICH' </strong> - BY COURIER STEAM PRINTING HOUSE JANUARY 1872 </p>

<p><strong>'MAVERICKS, MIRACLES, AND MEDICINE' </strong> - BY JULIE M FENSTER </p>

<p><strong>'MEDICINAL AND OTHER USES OF NORTH AMERICAN PLANTS-- A HISTORICAL SURVEY WITH SPECIAL REFERENCE TO THE EASTERN TRIBES' </strong> - BY CHARLOTTE ERICHSEN-BROWN </p>

<p><strong>'MEDICINAL PLANTS--EASTERN/ CENTRAL-- PETERSON FIELD GUIDES' </strong> - BY STEVEN FOSTER/ JAMES A DUKE </p>

<p><strong>'MICHIGAN' </strong> - BY WILLIS DUNBAR </p>

<p><strong>'MICHIGAN -- A HISTORY' </strong> - BY BRUCE CATTON </p>

<p><strong>'MICHIGAN EARLY SETTLERS' </strong> - BY HEPHAESTUS BOOKS </p>

<p><strong>'MICHIGAN GHOST TOWNS' </strong> - BY R.L DODGE </p>

<p><strong>'MICHIGAN HISTORICAL COLLECTIONS' </strong> - BY </p>

<p><strong>'MICHIGAN HISTORY DIRECTORY OF HISTORICAL SOCIETIES,MUSEUMS,ARCHIVES,HISTORIC SITES,AGENCIES, AND COMMISSIONS' </strong> - BY HISTORICAL SOCIETY OF MICHIGAN </p>

<p><strong>'MICHIGAN HISTORY JOURNAL'</strong> - BY THE HISTORICAL SOCIETY OF MICHIGAN </p>

<p><strong>'MICHIGAN IN PHILATELY' </strong> - BY D.R. HEATH </p>

<p><strong>'MICHIGAN IN THE WAR OF 1812' </strong> - BY FRED HAMIL </p>

<p><strong>'MICHIGAN MICHIGAN' </strong> - BY MILTON L. GREENBAUM </p>

<p><strong>'MICHIGAN PLACE NAMES' </strong> - BY WALTER ROMIG </p>

<p><strong>'MICHIGAN POSTAL HISTORY -- THE POST OFFICES -- 1805-1986' </strong> - BY DAVID ELLIS </p>

<p><strong>'MICHIGAN POSTAL MARKINGS' </strong> - BY MAURICE COLE </p>

<p><strong>'MICHIGAN SHADOW TOWNS--A STUDY OF VANISHING AND VIBRANT VILLAGES' </strong> - BY GENE SCOTT </p>

<p><strong>'MICHIGAN TERRITORIAL POST OFFICES' </strong> - BY KENNETH H. PRIESTLEY </p>

<p><strong>'MICHIGAN VOICES' </strong> - BY JOE GRIMM </p>

<p><strong>'MICHIGAN WOMEN: FIRSTS AND FOUNDERS' </strong> - BY RACHEL BRETT HARLEY AND BETTY MACDOWELL </p>

<p><strong>'MIDWESTERN WOMEN- WORK,COMMUNITY,AND LEADERSHIP AT THE CROSSROADS' </strong> - BY LUCY MURPHY AND WENDY VENET </p>

<p><strong>'MISHAWAKA REMEMBERED' </strong> - BY SOUTH BEND TRIBUNE STAFF </p>

<p><strong>'MORE OF THE WORLDS GREATEST STAMP COLLECTORS' </strong> - BY STANLEY M. BIERMAN, M.D. </p>

<p><strong>'MORE THAN PETTICOATS-- REMARKABLE MICHIGAN WOMEN' </strong> - BY JULIA PFERDEHIRT
 </p>
<p><strong>'MOTHERS OF FEMINISM-- THE STORY OF QUAKER WOMEN IN AMERICA' </strong> - BY MARGARET HOPE BACON </p>

<p><strong>'NATURE'S HEALING ARTS-- FROM FOLK MEDICINE TO MODERN DRUGS' </strong> - BY LONNELLE AIKMAN </p>

<p><strong>'NILES REMEMBERED' </strong> - BY SOUTH BEND TRIBUNE STAFF </p>

<p><strong>'NINETEENTH CENTURY MICHIGAN POSTAL HISTORY EXHIBIT PHOTOCOPY' </strong> - BY LOUIS F.UNGREY//U.S.PHILATELIC CLASSICS SOCIETY </p>

<p><strong>'OF DIXBORO; LEST WE FORGET' </strong> - BY CAROL WILLITS FREEMAN </p>

<p><strong>'OLD ANN ARBOR TOWN' </strong> - BY HAZEL PROCTOR--ANN ARBOR FEDERAL SAVINGS </p>

<p><strong>'OPINIONS II PHILATELIC EXPERTIZING--AN INSIDE VIEW' </strong> - BY THE PHILATELIC FOUNDATION </p>

<p><strong>'OPINIONS IV PHILATELIC EXPERTIZING--AN INSIDE VIEW' </strong> - BY THE PHILATELIC FOUNDATION</p>

<p><strong>'OPINIONS V PHILATELIC EXPERTIZING--AN INSIDE VIEW' </strong>- BY THE PHILATELIC FOUNDATION</p>

<p><strong>'OUT- FOXING THE FAKERS'</strong> - BY JEAN-FRANCOIS BRUN</p>

<p><strong>'PHILATELIC FORGERS--THEIR LIVES AND WORKS' </strong>- BY VARRO E. TYLER</p>

<p><strong>'PHILATELIC GEMS VOLUMES 1, 2, 3, 4, AND 5' </strong>- BY LINN'S STAMP NEWS</p>

<p><strong>'PICTORIAL HISTORY OF ANN ARBOR-- 1824-1859'</strong> - BY MOAA</p>

<p><strong>'PIONEERING MICHIGAN' </strong>- BY ERIC FREEDMAN</p>

<p><strong>'PLEASANT WALKS AND DRIVES ABOUT ANN ARBOR' </strong>- BY JUDGE NOAH CHEEVER</p>

<p><strong>'POSTAL MARKINGS OF MICHIGAN' </strong>- BY DAVID M. ELLIS</p>

<p><strong>'POSTAL MEANS,RATES & MARKINGS 1800-1850 EXHIBIT PHOTOCOPY' </strong>- BY ARTHUR BOSTWICK//U.S.PHILATELIC CLASSICS SOCIETY</p>

<p><strong>'READING EARLY AMERICAN HANDWRITING' </strong>- BY KIP SPERRY</p>

<p><strong>'REAP THE WHIRLWIND--A DOCUMENTARY OF EARLY MICHIGAN' </strong>- BY BERNICE M. CHAPPEL</p>

<p><strong>'REMEMBER THE DISTANCE THAT DIVIDES US' </strong>- BY MARCIA J. HERINGA MASON</p>

<p><strong>'REPRINTS OF 19TH CENTURY POSTAL ADHESIVE STAMPS AND THEIR CHARACTERISTICS' </strong>- BY E.D. BACON</p>

<p><strong>'SCOTT STANDARD POSTAGE STAMP CATALOGUE' </strong>- BY SCOTT PUBLISHING CO.</p>

<p><strong>'SLOANS COLUMN' </strong>- BY GEORGE T. TURNER</p>

<p><strong>'SOUTH BEND INDIANA' </strong>- BY KAY MARNON</p>

<p><strong>'SOUTHERN ST. JOSEPH COUNTY' </strong>- BY FRANKLIN N SHENEMAN II</p>

<p><strong>'ST.JOSEPH COUNTY'S HISTORIC RIVER COUNTRY' </strong>- BY JANE SIMON AMMESON</p>

<p><strong>'STAMP COLLECTING' </strong>- BY NEILL GRANGER</p>

<p><strong>'TALES OF A SHAMAN'S APPRENTICE-- AN ETHNOBOTANIST SEARCHES FOR NEW MEDICINES IN THE AMAZON RAIN FOREST' </strong>- BY MARK J PLOTKIN, PHD</p>

<p><strong>'TEN-CENT 1869 COVERS--A POSTAL HISTORICAL SURVEY' </strong>- BY MICHAEL LAURENCE</p>

<p><strong>'TERRITORIAL PAPERS OF THE UNITED STATES VOL.10' </strong>- BY CLARENCE CARTER</p>

<p><strong>'TERRITORIAL PAPERS OF THE UNITED STATES VOL.11' </strong>- BY CLARENCE CARTER</p>

<p><strong>'TERRITORIAL PAPERS OF THE UNITED STATES VOL.12'</strong> - BY CLARENCE CARTER</p>

<p><strong>'THE ALARMING HISTORY OF MEDICINE-- AMUSING ANECDOTES FROM HIPPOCRATES TO HEART TRANSPLANTS' </strong>- BY RICHARD GORDON</p>

<p><strong>'THE AMERICAN PHILATELIST' </strong>- BY THE AMERICAN PHILATELIC SOCIETY</p>

<p><strong>'THE AMERICAN STAMP DEALER & COLLECTOR' </strong>- BY THE AMERICAN STAMP DEALER ASSOCIATION</p>

<p><strong>'THE BARRY STORY' </strong>- BY REG MORRIS & ROBERT J. PAYNE</p>

<p><strong>'THE COMPLETE GUIDE TO STAMPS & STAMP COLLECTING' </strong>- BY DR. JAMES MACKAY</p>

<p><strong>'THE COMPLETE LETTER WRITER' </strong>- BY N.H. AND S.K. MAGER</p>

<p><strong>'THE DARING TRADER-- JACOB SMITH IN THE MICHIGAN TERRITORY 1802-1825' </strong>- BY KIM CRAWFORD</p>

<p><strong>'THE DEALERS GUIDE TO CHEMICAL RESTORATION OF POSTAGE STAMPS' </strong>- BY NATIONAL STAMP SERVICE</p>

<p><strong>'THE EARLY HISTORY OF MICHIGAN--FROM THE FIRST SETTLEMENT TO 1815' </strong>- BY E.M. SHELDON</p>

<p><strong>'THE EXPERTS BOOK--WASHINGTON/ FRANKLIN ISSUES 1908-1923'</strong> - BY PAUL W. SCHMID</p>

<p><strong>'THE GREATEST BENEFIT TO MANKIND-- A MEDICAL HISTORY OF HUMANITY' </strong>- BY ROY PORTER</p>

<p><strong>'THE GREEN PHARMACY-- THE ULTIMATE COMPENDIUM OF NATURAL REMEDIES' </strong>- BY JAMES A DUKE, PHD</p>

<p><strong>'THE HONEST HERBAL-- A SENSIBLE GUIDE TO THE USE OF HERBS AND RELATED REMEDIES' </strong>- BY VARRO E TYLER, PHD</p>

<p><strong>'THE ILLUSTRATED ENCYCLOPEDIA OF STAMP COLLECTING' </strong>- BY OTTO HORNUNG</p>

<p><strong>'THE INDIANS OF THE WESTERN GREAT LAKES 1615-1760' </strong>- BY W. VERNON KINIETZ</p>

<p><strong>'THE LOST SISTERHOOD' </strong>- BY RUTH ROSEN</p>

<p><strong>'THE MAKING OF ANN ARBOR'</strong> - BY MOAA</p>

<p><strong>'THE MICARELLI IDENTIFICATION GUIDE TO U.S.STAMPS' </strong>- BY CHARLES N. MICARELLI</p>

<p><strong>'THE MICHIGAN HISTORICAL REVIEW' </strong>- BY THE HISTORICAL SOCIETY OF MICHIGAN</p>

<p><strong>'THE MOTHER TONGUE--ENGLISH AND HOW IT GOT THAT WAY' </strong>- BY BILL BRYSON</p>

<p><strong>'THE NEW AGE HERBALIST' </strong>- BY MABEY,MCINTYRE,MICHAEL,DUFF,STEVENS</p>

<p><strong>'THE PENINSULAR PHILATELIST' </strong>- BY THE PENINSULAR STATE PHILATELIC SOCIETY</p>

<p><strong>'THE PHILATELIC LITERATURE REVIEW' </strong>- BY THE AMERICAN PHILATELIC RESEARCH LIBRARY</p>

<p><strong>'THE POSTED LETTER IN COLONIAL AND REVOLUTIONARY AMERICA 1628-1790' </strong>- BY ALEX L. TER BRAAKE</p>

<p><strong>'THE RIDDLE OF AMISH CULTURE'</strong> - BY DONALD B KRAYBILL</p>

<p><strong>'THE RISE AND FALL OF TOLEDO MICHIGAN--THE TOLEDO WAR' </strong>- BY SISTER MARY KARL GEORGE</p>

<p><strong>'THE SPUD PAPERS-- AN ILLUSTRATED DESCRIPTIVE CATALOG OF EARLY PHILATELIC FORGERIES' </strong>- BY ATLEE, PEMBERTON, AND EAREE</p>

<p><strong>'THE TERRITORY OF MICHIGAN' </strong>- BY ALEC GILPIN</p>

<p><strong>'THE THREE CENT STAMP OF THE UNITED STATES 1851-1857 ISSUE'</strong> - BY CARROLL CHASE</p>

<p><strong>'THE TOLEDO STRIP' </strong>- BY GEORGE J. BALL</p>

<p><strong>'THE TOLEDO WAR--THE FIRST MICHIGAN-OHIO RIVALRY' </strong>- BY DON FABER</p>

<p><strong>'THE U.S. 3 CENT 1857 ISSUE EXHIBIT PHOTOCOPY'</strong> - BY ROBERT R. HEGLAND/ U.S.PHIL.CLASSICS SOCIETY</p>

<p><strong>'THE UNDERGROUND RAILROAD IN MICHIGAN' </strong>- BY CAROL E. MULL</p>

<p><strong>'THE UNITED STATES ISSUE OF 1869 AND THE PREMIERES GRAVURES OF 1861' </strong>- BY STANLEY B. ASHBROOK</p>

<p><strong>'THE UNITED STATES POSTAGE STAMPS OF THE 19TH CENTURY-- VOLUMES 1, 2, AND 3'</strong> - BY LESTER G. BROOKMAN</p>

<p><strong>'THE UNITED STATES TEN CENT STAMP OF 1855-1857' </strong>- BY STANLEY B. ASHBROOK</p>

<p><strong>'THE WOMEN'S GREAT LAKES READER' </strong>- BY VICTORIA BREHM-- LADYSLIPPER PRESS</p>

<p><strong>'THE WORLDS GREATEST STAMP COLLECTORS' </strong>- BY STANLEY M. BIERMAN, M.D.</p>

<p><strong>'THEIR SISTERS' KEEPERS--WOMEN'S PRISON REFORM IN AMERICA, 1830-1930' </strong>- BY ESTELLE B FREEDMAN</p>

<p><strong>'THIRTY-EIGHTH ANNUAL REPORT OF THE AMERICAN BIBLE SOCIETY'</strong> - BY PRESENTED MAY 11,1854</p>

<p><strong>'THIS IS PHILATELY' </strong>- BY KENNETH A. WOOD</p>

<p><strong>'TRUE SISTERHOOD--MICHIGAN WOMEN AND THEIR KIN 1820-1920' </strong>- BY MARILYN FERRIS MOTZ</p>

<p><strong>'U.S DOMESTIC RATES FROM ACT OF 1782 THROUGH ACT OF 1861 EXHIBIT PHOTOCOPY'</strong> - BY JOSEPH VON HAKE//U.S.PHILATELIC CLASSICS SOCIETY</p>

<p><strong>'U.S. 1861-68 PART I- THE 1861-66 STAMPS EXHIBIT PHOTOCOPY' </strong>- BY WILLIAM K.HERZOG//U.S.PHILATELIC CLASSICS SOCIETY</p>

<p><strong>'U.S. 1861-68 PART II--THE 1867-68 GRILLED STAMPS EXHIBIT PHOTOCOPY' </strong>- BY WILLIAM K.HERZOG//U.S.PHILATELIC CLASSICS SOCIETY</p>

<p><strong>'U.S. CANCELS 1890-1900' </strong>- BY SOL SALKIND</p>

<p><strong>'UNDERSTANDING COLONIAL HANDWRITING' </strong>- BY HARRIET STRYKER-RODDA</p>

<p><strong>'UNITED STATES LETTER RATES TO FOREIGN DESTINATIONS 1847 TO GPU-UPU'</strong> - BY CHARLES J. STARNES</p>

<p><strong>'UNITED STATES POST OFFICES' </strong>- BY RICHARD W. HELBOCK</p>

<p><strong>'UNITED STATES POSTAGE STAMPS OF 1869' </strong>- BY JON ROSE</p>

<p><strong>'UNITED STATES POSTAL HISTORY SAMPLER' </strong>- BY RICHARD B. GRAHAM</p>

<p><strong>'UNITED STATES TWO CENT RED BROWN, THE, VOL. 1' </strong>- BY EDWARD L. WILLARD</p>

<p><strong>'UNITED STATES TWO CENT RED BROWN, THE, VOL. 2' </strong>- BY EDWARD L. WILLARD</p>

<p><strong>'UPPER MICHIGAN POSTAL HISTORY AND POSTMARKS' </strong>- BY WILLIAM J. TAYLOR</p>

<p><strong>'VOICES FROM THE WILDERNESS' </strong>- BY MAURICE F. COLE</p>

<p><strong>'WHEN MICHIGAN WAS YOUNG' </strong>- BY ETHEL ROWAN FASQUELLE</p>

<p><strong>'WICKED ANN ARBOR' </strong>- BY JAMES THOMAS MANN</p>

<p><strong>'WOMAN IN THE WILDERNESS-LETTERS OF HARRIET WOOD WHEELER, MISSIONARY WIFE, 1832-1892'</strong> - BY NANCY BUNGE</p>

<p><strong>'WOMEN'S LETTERS-- AMERICA FROM THE REVOLUTIONARY WAR TO THE PRESENT' </strong>- BY LISA GRUNWALD AND STEPHEN J. ADLER</p>

<p><strong>'YANKEES IN MICHIGAN' </strong>- BY BRIAN C. WILSON</p>
</p>
</div>