<div class="container">
  <h2>List of Genealogy Clubs</h2>
  <p> <strong>County:Washtenaw</strong></p>
<p>Genealogy Society of Washtenaw County<br>
Education Center Auditorium St Joseph Mercy Hospital <br>
P.O.Box 7155 Ann Arbor MI 48107-7155 <br>
http://www.washtenawgenealogy.org/<br>
1:30 P.M.4th Sunday of the month<br>
</p>
<hr>
<p><strong>County:Michigan</strong>
<p>Michigan Genealogical Council<br>
New Place<br>
P.O Box 80953 Lansing MI 48908-0953<br>
http://www.mimgc.org/<br>
Various --see website</p>
<hr>
<p><strong>County:
Oakland County Genealogical Society</strong></p>

<p>P.O. Box 1094 Birmingham, MI 48012-1094<br>
ocgsmi.org info@ocgsmi.org<br>
Zoom/ check website</p>
</div>