<div class="container">
  <h2>List of National Sites</h2>
  <p> <strong>Historical Society of Michigan</strong>
<p>Historical Society of Michigan 5815 Executive Drive <br>
Phone (517) 324-1828 | Fax (517) 324-4370<br>
https://www.hsmichigan.org/ </p>

<p>Please feel free to contact us at hsm@hsmichigan.org with your comments or suggestions.</p>
<hr>
<p><strong>La Posta : The Journal of American Postal History</strong></p>

<p>P.O. Box 6074 Fresericksburg, VA 22403<br>
www.lapostapub.com</p>

<p>Peter Martin Publisher and Editor</p>
</div>  