<div class="container">
<h3>Support Our Work!</h3>

Donate now to help us sustain our work:
<form name="_xclick" action="https://www.paypal.com/yt/cgi-bin/webscr" method="post">
<input type="hidden" name="cmd" value="_xclick">
<input type="hidden" name="business" value="erniesmichigan@gmail.com">
<input type="hidden" name="item_name" value="Donation">
<input type="hidden" name="currency_code" value="USD">
<p>$<input type="text" name="amount" value="25.00"></p>
<p><input type="image" src="http://www.paypal.com/en_US/i/btn/x-click-butcc-donate.gif" border="0" name="submit" alt="Make payments with PayPal - it's fast, free and secure!">
</p>
</form>
</div>